
<div id="def-footer">
	<!-- Write closure fall-back static file -->
	<!-- /ROOT/app/cls/WET/gcweb/v4_0_29/cdts/static/footer-en.html -->
	<!--#include virtual="/app/cls/WET/gcweb/v4_0_29/cdts/static/footer-en.html" -->
</div>
<!-- Write closure template -->
<script>
	var defFooter = document.getElementById("def-footer");
	defFooter.outerHTML = wet.builder.footer({
	});
</script>