
 {% if locale === 'en' %}
<div id="def-top">
	<!-- Write closure fall-back static file -->
	<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/top-en.html -->
	<!--#include virtual="/app/cls/WET/gcweb/v4_0_28/cdts/static/top-en.html" -->
</div>
<!-- Write closure template -->
<script>
	var defTop = document.getElementById("def-top");
	defTop.outerHTML = wet.builder.top({
		"lngLinks": [{
			"lang": "fr",
			"href": "/fr/",
			"text": "Français"
		}]
	});
</script>
{% else %}
  <div id="def-top">

	<!-- Write closure fall-back static file -->
	<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/top-en.html -->
	<!--#include virtual="/app/cls/WET/gcweb/v4_0_28/cdts/static/top-en.html" -->
</div>
<!-- Write closure template -->
<script>
	var defTop = document.getElementById("def-top");
	defTop.outerHTML = wet.builder.top({
		"lngLinks": [{
			"lang": "en",
			"href": "/en/",
			"text": "English"
		}]
	});
</script>
{% endif %}