
<div id="def-preFooter">
	<!-- Write closure fall-back static file -->
	<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/preFooter-en.html -->
	<!--#include virtual="/app/cls/WET/gcweb/v4_0_28/cdts/static/preFooter-en.html" -->
</div>
<!-- Write closure template -->
<script>
	var defPreFooter = document.getElementById("def-preFooter");
	defPreFooter.outerHTML = wet.builder.preFooter({
		"dateModified": "2017-06-05"
	});
</script>